aiohappyeyeballs==2.4.4 ; python_full_version == "3.10.16"
aiohttp==3.11.11 ; python_full_version == "3.10.16"
aiosignal==1.3.2 ; python_full_version == "3.10.16"
asqlite==2.0.0 ; python_full_version == "3.10.16"
async-timeout==5.0.1 ; python_full_version == "3.10.16"
attrs==24.3.0 ; python_full_version == "3.10.16"
discord-py==2.4.0 ; python_full_version == "3.10.16"
frozenlist==1.5.0 ; python_full_version == "3.10.16"
idna==3.10 ; python_full_version == "3.10.16"
multidict==6.1.0 ; python_full_version == "3.10.16"
propcache==0.2.1 ; python_full_version == "3.10.16"
python-dotenv==1.0.1 ; python_full_version == "3.10.16"
typing-extensions==4.12.2 ; python_full_version == "3.10.16"
yarl==1.18.3 ; python_full_version == "3.10.16"
