aiohappyeyeballs==2.4.4 ; python_full_version == "3.12.8"
aiohttp==3.11.11 ; python_full_version == "3.12.8"
aiosignal==1.3.2 ; python_full_version == "3.12.8"
asqlite==2.0.0 ; python_full_version == "3.12.8"
attrs==24.3.0 ; python_full_version == "3.12.8"
discord-py==2.4.0 ; python_full_version == "3.12.8"
frozenlist==1.5.0 ; python_full_version == "3.12.8"
idna==3.10 ; python_full_version == "3.12.8"
multidict==6.1.0 ; python_full_version == "3.12.8"
propcache==0.2.1 ; python_full_version == "3.12.8"
python-dotenv==1.0.1 ; python_full_version == "3.12.8"
yarl==1.18.3 ; python_full_version == "3.12.8"
